@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Montserrat:wght@300;400;500;600;700&display=swap');

.font-poppins {
    font-family: 'Poppins', sans-serif;
}

.tracking-custom {
    letter-spacing: 0.2em;
}

.tracking-custom::placeholder {
    letter-spacing: 0.2em;
}

@import "tailwindcss";
@plugin "daisyui";