/* Écrans moyens/laptops (1200px - 1439px) */
@media (max-width: 1439px) and (min-width: 1200px) {
    .hero-section h1 {
        font-size: 70px;
    }

    .hero-section button {
        font-size: 18px;
        padding: 1rem 2.5rem;
    }
}

/* Petits laptops (1024px - 1199px) */
@media (max-width: 1199px) and (min-width: 1024px) {
    .hero-section h1 {
        font-size: 50px;
    }

    .hero-section button {
        font-size: 17px;
        padding: 0.95rem 2.3rem;
    }
}

/* Tablettes en paysage (768px - 1023px) */
@media (max-width: 1023px) and (min-width: 768px) {
    .hero-section h1 {
        font-size: 48px;
    }

    .hero-section button {
        font-size: 16px;
        padding: 0.9rem 2rem;
    }
}

/* Tablettes en portrait (600px - 767px) */
@media (max-width: 918px) and (min-width: 600px) {
    .hero-section h1 {
        font-size: 36px;
    }

    .hero-section button {
        font-size: 15px;
        padding: 0.8rem 1.8rem;
    }

    .hero-section>div {
        gap: 1.5rem;
    }
}

/* Grands mobiles (480px - 599px) */
@media (max-width: 739px) and (min-width: 200px) {
    .hero-section h1 {
        font-size: 26px;
    }

    .hero-section button {
        font-size: 11px;
        padding: 0.6rem 1.3rem;
    }

    .hero-section>div {
        gap: 1.2rem;
    }
}

/* Mobiles moyens (375px - 479px) */
@media (max-width: 558px) and (min-width: 375px) {
    .hero-section h1 {
        font-size: 19px;
    }

    .hero-section button {
        font-size: 8px;
        padding: 0.6rem 1.3rem;
    }

    .hero-section>div {
        gap: 1rem;
    }
}


@media (max-width: 409px) {
    .hero-section h1 {
        font-size: 15px;
    }

    .hero-section button {
        font-size: 7px;
        padding: 0.4rem 1rem;
    }

    .hero-section>div {
        gap: 1rem;
    }
}